# Nix generator configuration file for Darkone NixOS Framework (common file)

# Global network configuration is converted in lists / attSets to be used in 
# your nix configuration through "networks.<network>" special arg.
networks:

  # The default network
  default:
    domain: "arthur.lan"
    gateway:
      hostname: "gateway"
      ip: "192.168.0.1"

  # Another network (optional)
  sn:
    domain: "sn-pm.lan"
    gateway:
      hostname: "sn-network"
      ip: "192.168.11.1"

#------------------------------------------------------------------------------
# Nix DNF static hosts (nested hosts.<type>)
#------------------------------------------------------------------------------

# Static users
# -> profile is the HomeManager profile
# -> groups is used to select related hosts
users:

  # Darkone
  darkone:
    uid: 1000
    name: "Darkone Linux"
    email: "darkone@darkone.yt"
    profile: "darkone"
    groups: [ "admin", "media", "common" ]
  gponcon:
    uid: 1001
    name: "G. Ponçon"
    profile: "normal"
    groups: [ "admin", "sn-admin", "sn" ]

  # Arthur
  anso:
    uid: 1002
    name: "Anso"
    profile: "normal"
    groups: [ "common" ]
  charlie:
    uid: 1003
    name: "Charlie"
    profile: "teenager"
    groups: [ "kids", "common" ]
  axelle:
    uid: 1004
    name: "Axelle"
    profile: "children"
    groups: [ "kids", "common" ]
  tristan:
    uid: 1005
    name: "Tristan"
    profile: "children"
    groups: [ "kids", "common" ]

  # SN
  tserveau:
    uid: 1100
    name: "T. Serveau"
    profile: "sn-user"
    groups: [ "sn", "sn-admin" ]
  ethan:
    uid: 1101
    name: "Ethan"
    profile: "sn-user"
    groups: [ "sn", "tsn" ]
  nathael:
    uid: 1102
    name: "Nathaël"
    profile: "sn-user"
    groups: [ "sn", "tsn" ]
  kilic:
    uid: 1103
    name: "Kilic"
    profile: "sn-user"
    groups: [ "sn", "1ciel" ]
  mathys:
    uid: 1104
    name: "Mathys"
    profile: "sn-user"
    groups: [ "sn", "1ciel" ]
  julien:
    uid: 1105
    name: "Julien"
    profile: "sn-user"
    groups: [ "sn", "1ciel" ]
  esteban:
    uid: 1106
    name: "Esteban"
    profile: "sn-user"
    groups: [ "sn", "1ciel" ]
  diego:
    uid: 1107
    name: "Diego"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  mathieu:
    uid: 1108
    name: "Mathieu"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  brice:
    uid: 1109
    name: "Brice"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  nolann:
    uid: 1110
    name: "Nolann"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  baptiste:
    uid: 1111
    name: "Baptiste"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  evan:
    uid: 1112
    name: "Evan"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  tiesto:
    uid: 1113
    name: "Tiesto"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]
  titouan:
    uid: 1114
    name: "Titouan"
    profile: "sn-user"
    groups: [ "sn", "2mtne" ]

# Hosts declaration
# -> name: human readable name or description
# -> profile: the host profile related to this host
# -> users: a list of existing user logins
# -> groups: used to select related users
# -> networks: the first one is the default (to auto-generate email for example)
# -> tags: added to colmena tags for deployment filtering.
# -> local: true is only for the local (master) machine.
hosts:

  # Static hosts
  static:

    # Darkone (multi-network)
    - hostname: "nlt"
      name: "Darkone Laptop"
      profile: "admin-laptop"
      users: [ "darkone" ]
      groups: [ "admin" ]
      networks: [ "default", "sn" ]
      tags: [ "laptops", "admin" ]
      local: true

    # Default network
    # NOTE: if no "networks" is specified, hosts are linked to "default" network
#    - hostname: "gateway"
#      name: "Home Gateway & HomeLab"
#      profile: "gateway"
#      groups: [ "admin" ]
#    - hostname: "charlie"
#      name: "Cle USB Charlie"
#      profile: "child-key"
#      users: [ "charlie" ]
#    - hostname: "axelle"
#      name: "Cle USB Axelle"
#      profile: "child-key"
#      users: [ "axelle" ]

    # SN gateway
#    - hostname: "sn-network"
#      name: "SN Network Gateway"
#      profile: "sn-network"
#      networks: [ "sn" ]
#      groups: [ "sn-admin" ]

  # Host groups by range (generated from min to max)
  range:

    # Virtualbox hosts for tests
    - hostname: "vbox-%'02s"
      name: "Virtual %'02s"
      profile: "vbox"
      range: [ 1, 3 ]
      users: [ "darkone" ]

    # SN NixOS work computers
    - hostname: "SN-20-%'02s"
      name: "pc%d"
      profile: "sn-pc"
      range: [ 1, 8 ]
      networks: [ "sn" ]
      groups: [ "2mtne", "1ciel", "tsn", "sn" ]

#------------------------------------------------------------------------------
# Nix DNF hosts from LLDAP (wip)
# Contains users and groups
# users <-> groups <-> hosts
#------------------------------------------------------------------------------

hostProvider:
  lldap:
    enabled: false

    # Use nsswitch to login users, otherwise user configurations are
    # generated in the nix configuration
    #nss: false # Not implemented yet
    url: "ldap://localhost:3890"
    bind:
      user: "admin"
      passwordFile: "lldap" # located in usr/secrets

