:root[data-theme="light"] {
    --sl-color-accent-high: #4a6aae;
    --sl-color-text-accent: #4a6aae;
    --sl-color-blue-high: #4a6aae;
    --sl-color-blue: #4a6aae;
}
:root[data-theme="dark"] {
    --sl-color-accent-high: #7ebae4;
    --sl-color-text-accent: #7ebae4;
    --sl-color-blue-high: #7ebae4;
    --sl-color-blue: #7ebae4;
    --sl-color-blue-low: #2b3e66;
}